<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="http://stackexchange.com/users/901283/nathan-arthur"><img src="http://stackexchange.com/users/flair/901283.png" width="208" height="58" alt="profile for Nathan Arthur on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Nathan Arthur on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">Email</a></li>
          <li><a href="http://www.linkedin.com/in/nathanarthur/">LinkedIn</a></li>
          <li><a href="https://github.com/narthur">GitHub</a></li>
          <li><a href="https://www.behance.net/narthur">Beh&#257;nce</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
