html {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

body {
  font-family: sans-serif;
  font-size: .75rem;
  max-width: 25rem;
  line-height: 1.25rem;
}

a, a:visited {
  color: #3c8c3a;
  &:hover {
    text-decoration: none;
  }
}

iframe, img {
  max-width: 100%;
}

.site-header {
  text-align: center;
}

.logo {
  max-width: 7rem;
  margin: 0 auto;
  img {
    border-radius: 100%;
  }
  @media screen and (min-width: 370px) {
  }
}

.site-nav, .contact-list {
  padding-left: 0;
  li {
    display: inline-block;
    padding: .25rem;
  }
}

.page-content {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  margin-left: -4rem;
  margin-right: -4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.hero {
  margin-left: -4rem;
  margin-right: -4rem;
}

.post-title {
  font-size: 2rem;
}

.post-meta {
  color: #8f8f8f;
}

.a2a_kit {
  margin-top: 1rem;
  margin-bottom: 1rem;
  > a {
    margin-top: 1rem;
  }
}

@import "_mixins";
@import "_hero";
