.organism_stint {
  h2 {
    margin-bottom: 0;
    span {
      font-weight: normal;
      font-style: italic;
      opacity: .5;
      white-space: nowrap;
    }
  }
  .organism_stint__dates {
    margin-top: 0;
  }
}
