---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include organism_header.html %}

    {% if page.hero-position != nil %}
      {% capture extra-css %}style="background-position:0 {{ page.hero-position }};"{% endcapture %}
    {% endif %}

    <div class="page-content">

      <div class="hero {{ page.title | replace: ' ', '-' }}" {{ extra-css }}></div>

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include organism_footer.html %}

  </body>

</html>
